:root {
  --bg: #1e202c;
  --panel: #31323e;
  --accent: #b0a2e7;
  --border: #443a6d;
  --text: #bfc0d1;
}

html,
body {
  color: var(--text);
  background-color: var(--bg);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  background-color: var(--bg);
  display: grid;
  min-height: 100vh;

  grid-template-areas:
    "sidepanel main rightpanel";

  grid-template-columns: 320px minmax(0, 1fr) 348px;
  grid-template-rows: 1fr;
}

.Main {
  grid-area: main;
  padding: 20px;
  overflow: auto;
}

@media (max-width: 960px) {
  .wrapper {
    grid-template-areas:
      "sidepanel"
      "main"
      "rightpanel";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

a {
  text-decoration: none;
}
